ol {
  overflow: hidden;
}
.me {
  float: left;
  border: 2px solid black;
  margin-left: 11px;
  margin-right: 11px;
}
.container {
  float: left;
}
.intro  {
  margin: 12px;
  border: 2px solid black;
  padding: 8px;
  background-color: #DE7030;
  font-style: italic;
}
.aboutme  {
  margin: 12px;
  border: 2px solid black;
  padding:8px;
  background-color: #DE7030;
}
.projects {
  margin: 12px;
  border: 2px solid black;
  padding:8px;
  background-color: #DE7030;
}
.hobbies  {
  margin: 12px;
  border: 2px solid black;
  padding: 8px;
  background-color: #DE7030;
}
.place  {
  color: #6542f4;
}
